<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>
      {% block title %}
        Student groups
      {% endblock %}
    </title>
    {% block meta %}
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {% endblock %}
  </head>
  <body>
    <div class="main">
      <div class="main_resize">
        <div class="main_left">
          <div class="logo">
		    <a href="/"><img src="{{ STATIC_URL }}images/logo.gif" width="223" height="72" border="0" alt="logo" /></a>
		  </div>
          <div class="clr">
		  </div>
          <div class="menu">
            <ul>
              <li><a href="/"><span>Home page</span></a></li>
              <li><a href="/groups/"><span>Groups</span></a></li>
            </ul>
          </div>
        </div>
        <div class="main_right">
          {% block body %}
            <div class="content_title">
              {% block content_title %}
	 	      {% endblock %}
            </div>
            <div class="content">
              {% block content %}
		      {% endblock %}
            </div>
          {% endblock %}
        </div>
        <div class="clr">
		</div>
      </div>
      {% block footer %}
        <div class="footer">
          <div class="footer_resize">
            <p>© Copyright www.csstemplatesfree.org . All Rights Reserved.<br />
            <a href="http://www.csstemplatesfree.org/minimalist.html">Minimalist style</a></p>
            <div class="clr">
			</div>
          </div>
        </div>
      {% endblock %}
    </div>
  </body>
</html>